html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

select {
  background: linear-gradient(45deg, #A5C9CA, #A5C9CA);
}

button {
  background-color: #3AB4F2;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

table {
  margin-bottom: 50px;
  position: relative;
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
    background-color: #55608f;
}